[submodule "astro"]
	path = astro
	url = https://github.com/aapv97/astro.git
[submodule "django"]
	path = django
	url = https://github.com/aapv97/django.git
[submodule "Next"]
	path = Next
	url = https://github.com/aapv97/Next.git
[submodule "78928"]
	path = 78928
	url = https://github.com/aapv97/78928.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/aapv97/Angular.git
